.cuadro, .cuadro-vacio{
  border: 1px solid black;
  height: 20vh;
  width: auto;
  cursor: pointer;
  padding: 0;
}
.encontrado{
  cursor: auto!important;
  opacity: 0.8;
}
@media screen and (max-width:500px){
  .cuadro, .cuadro-vacio{
    max-width: 25%;
  }
}